/* Main */
body{height:100%;background-color:#000;margin:0;}
#coming_soon{height:60px;width:100%;position:relative;margin-top:-30px;top:50%;font-family:museo-slab,serif;font-weight:700;font-size:60px;text-align:center;line-height:60px;color:#FFF;}
#skip_overlay{width:100%;height:auto;position:absolute;bottom:6%;}
#soundcloud{height:30px;width:100%;position:fixed;top:0;left:0;background-color:#efefef;background-image:url(../../../images/bg/stratus/sc-gradient.png);background-repeat:repeat-x;border-top:solid 1px #d5d5d5;font-family:"Lucida Grande", "Lucida Sans Unicode", sans-serif;font-size:12px;line-height:30px;text-indent:20px;color:#000;}
#menu{width:100%;height:228px;position:fixed;top:30px;left:0;z-index:10;}
#menu #menu_center{width:1000px;height:240px;margin-left:auto;margin-right:auto;}
#menu #menu_center #header{width:1000px;height:192px;background-color:#000;background-image:url(../../../images/logo/header_trans_logo.png);background-position:top left;background-repeat:no-repeat;-moz-box-shadow:0 0 6px #222;-webkit-box-shadow:0 0 6px #222;box-shadow:0 0 6px #222;}
#menu #menu_center #header #header_logo{width:600px;height:192px;float:left;}
#menu #menu_center #header #header_btns{width:200px;height:192px;float:left;}
#menu #menu_center #header #header_btns #header_btn{height:31px;line-height:31px;font-size:16px;font-family:museo-slab,serif;font-weight:700;}
#menu #menu_center #social{width:1000px;height:35px;margin-top:4px;}
#menu #menu_center #social #social_btn{height:35px;float:left;line-height:35px;-moz-box-shadow:0 0 6px #222;-webkit-box-shadow:0 0 6px #222;box-shadow:0 0 6px #222;}
#menu #menu_center #social #social_btn #social_btn_inside{height:35px;float:left;line-height:35px;}
#wrapper{width:1000px;height:auto;margin-top:288px;margin-left:auto;margin-right:auto;}
#wrapper #content{width:1000px;height:auto;background-color:#000;-moz-box-shadow:0 0 6px #222;-webkit-box-shadow:0 0 6px #222;box-shadow:0 0 6px #222;}
#wrapper #content #content_title{width:940px;height:82px;margin-left:30px;margin-right:30px;}
#wrapper #content #content_space{width:940px;height:auto;padding-top:20px;padding-bottom:30px;margin-left:30px;margin-right:30px;font-family:museo-slab,serif;font-weight:300;font-size:14px;line-height:30px;color:#aaa;}
#wrapper #content #content_about{width:940px;height:auto;padding-top:20px;padding-bottom:20px;margin-left:30px;margin-right:30px;font-family:museo-slab,serif;font-weight:300;font-size:14px;line-height:30px;color:#aaa;}
#wrapper #content #content_about #content_about_section{width:600px;height:auto;margin-right:30px;font-family:museo-slab,serif;font-weight:300;font-size:14px;line-height:30px;color:#aaa;}
#wrapper #content #content_about #content_about_photo{width:300px;height:749px;padding-top:20px;padding-bottom:20px;float:right;background-image:url(../../../images/about/1.png);}
#wrapper #content #space{width:940px;height:30px;margin-left:30px;margin-right:30px;}
#wrapper #content #home_slider{width:940px;height:470px;margin-left:30px;margin-right:30px;background-color:#fff;}
#wrapper #content #title1{width:940px;height:50px;margin-left:30px;margin-right:30px;}
#wrapper #content #videos{width:940px;height:201px;margin-left:30px;margin-right:30px;padding-top:10px;}
#wrapper #content #videos #videos_arrows{width:40px;height:201px;float:left;font-size:46px;font-family:museo-slab,serif;font-weight:1000;color:#FFF;text-align:center;line-height:200px;text-shadow:0 -1px 0 #000;}
#wrapper #content #videos #videos_content{width:840px;padding-left:10px;padding-right:10px;height:201px;float:left;}
#wrapper #content #split_sections{width:940px;height:361px;margin-right:30px;margin-left:0px;float:left;}
#wrapper #content #split_sections #split_sections_side{width:450px;float:left;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_title{width:450px;height:50px;float:left;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box{width:450px;height:299px;padding-top:10px;float:left;overflow:scroll;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_code{width:460px;height:307px;margin-top:-9px;margin-left:-9px;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_code_border{width:450px;height:2px;padding-top:1px;background-image:url(../../../images/other/menu_dots.png);background-position:-1px -1px;background-repeat:repeat;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_flyers{width:400px;height:299px;float:left;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_flyers #split_sections_side_box_flyers_img{width:195px;height:299px;float:left;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_flyers #split_sections_side_box_flyers_img #split_sections_side_box_flyers_img_border{width:187px;height:6px;margin-top:191px;margin-left:4px;margin-right:4px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_flyers #split_sections_side_box_flyers_img #split_sections_side_box_flyers_img_title1{width:185px;height:11px;padding-left:10px;font-family:museo-slab,serif;font-weight:100;font-size:11px;text-align:left;line-height:11px;color:#aaa;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_flyers #split_sections_side_box_flyers_img #split_sections_side_box_flyers_img_title2{width:185px;height:14px;padding-left:10px;margin-top:2px;font-family:museo-slab,serif;font-weight:700;font-size:14px;text-align:left;line-height:14px;color:#FFF;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_flyers #split_sections_side_box_flyers_img #split_sections_side_box_flyers_img_buy{width:187px;height:26px;margin-top:8px;margin-left:4px;margin-right:4px;font-family:museo-slab,serif;font-weight:700;font-size:15px;text-align:center;line-height:25px;color:#FFF;text-shadow:0 -1px 0 #000;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_flyers_arrows{width:40px;height:299px;float:left;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_flyers_arrows #split_sections_side_box_flyers_arrows_arrow{width:40px;height:147px;font-size:46px;font-family:museo-slab,serif;font-weight:1000;color:#FFF;text-align:center;line-height:147px;text-shadow:0 -1px 0 #000;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_twitter_title{width:450px;height:60px;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_twitter_title #split_sections_side_box_twitter_title_left{width:60px;height:60px;float:left;background-image:url(../../../images/twitter/thumbnail.jpg);background-position:center center;background-repeat:no-repeat;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_twitter_title #split_sections_side_box_twitter_title_right{width:380px;height:60px;padding-left:10px;float:left;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_twitter_title #split_sections_side_box_twitter_title_right #split_sections_side_box_twitter_title_right_top{width:380px;height:14px;padding-top:13px;font-family:museo-slab,serif;font-weight:300;font-size:12px;text-align:left;line-height:14px;color:#FFF;text-shadow:0 -1px 0 #000;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_twitter_title #split_sections_side_box_twitter_title_right #split_sections_side_box_twitter_title_right_btm{width:380px;height:20px;padding-top:2px;font-family:museo-slab,serif;font-weight:700;font-size:19px;text-align:left;line-height:20px;color:#FFF;text-shadow:0 -1px 0 #000;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_twitter_content{width:450px;height:236px;overflow:hidden;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_twitter_content #split_sections_side_box_twitter_content_code{width:450px;height:240px;margin-top:-52px;}
#wrapper #content #split_sections #split_sections_side #split_sections_side_box #split_sections_side_box_twitter_content_border{width:450px;height:2px;padding-top:1px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;}
#slider{width:940px;height:470px;margin:0;}
#wrapper #content #videos #videos_content #videos_content_section{height:201px;float:left;}
#wrapper #content #videos #videos_content #videos_content_section #videos_content_section_img{width:100%;height:154px;overflow:hidden;}
#wrapper #content #videos #videos_content #videos_content_section #videos_content_section_title{width:100%;height:30px;font-family:museo-slab,serif;font-weight:700;font-size:15px;text-align:left;line-height:15px;color:#FFF;padding-top:6px;}
#wrapper #content #videos #videos_content #videos_content_section #videos_content_section_date{width:100%;height:10px;font-family:museo-slab,serif;font-weight:100;font-size:10px;font-style:italic;text-align:left;line-height:10px;padding-top:1px;color:#aaa;}
#wrapper #content #photos{width:940px;height:156px;margin-left:30px;margin-right:30px;padding-bottom:30px;padding-top:10px;overflow:hidden;}
#wrapper #content #photos #photos_code{width:942px;height:162px;margin-left:-4px;margin-top:-4px;overflow:hidden;}
#tours{width:940px;height:auto;margin-left:30px;margin-right:30px;padding-bottom:30px;padding-top:10px;overflow:hidden;}
#tours_section{width:450px;height:auto;float:left;}
#tours_section_line{width:450px;padding-right: 5px;height:30px;}
#tours_section_line #tours_section_line_date{width:59px;height:30px;float:left;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;font-family:museo-slab,serif;font-weight:700;font-size:17px;text-align:center;line-height:30px;color:#FFF;text-shadow:0 -1px 0 #000;}
#tours_section_line #tours_section_line_place span { text-transform: uppercase; font-size: 12px; }
#tours_section_line #tours_section_line_place{width:175px;height:30px;float:left;padding-left:20px;font-family:museo-slab,serif;font-weight:100;font-style:normal;font-size:15px;text-align:center;line-height:30px;color:#f2f2f2;}
#tours_section_line #tours_section_line_space{width:4px;height:30px;float:left;margin-right:20px;margin-left:20px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;}
#tours_section_line #tours_section_line_location{width:147px;height:30px;padding-right: 5px;float:left;font-family:museo-slab,serif;font-weight:700;font-size:15px;text-align:right;line-height:30px;color:#fff;}
#wrapper #footer{width:1000px;height:auto;padding-top:20px;margin-top:26px;background-color:#000;-moz-box-shadow:0 0 6px #222;-webkit-box-shadow:0 0 6px #222;box-shadow:0 0 6px #222;float:left;}
#wrapper #footer #footer_top{width:1000px;height:120px;}
#wrapper #footer #footer_top #footer_top_left{width:420px;height:120px;float:left;padding-left:20px;font-family:museo-slab,serif;font-weight:100;font-size:12px;text-align:left;line-height:12px;color:#999;}
#wrapper #footer #footer_top #footer_top_right{width:540px;height:120px;padding-right:20px;float:right;}
#wrapper #footer #footer_top #footer_top_right #footer_top_right_line{width:540px;height:31px;margin-bottom:4px;}
#wrapper #footer #footer_top #footer_top_right #footer_top_right_line #footer_top_right_line_btn{width:130px;height:31px;font-family:museo-slab,serif;font-weight:700;font-size:14px;text-align:center;line-height:31px;color:#FFF;float:right;}
#wrapper #footer #footer_btm{width:1000px;height:31px;margin-top:20px;font-family:museo-slab,serif;font-weight:700;font-size:14px;text-align:center;line-height:31px;color:#FFF;}
/* ---------------------------------------------- Photos --------------------------------------------------*/
#wrapper #content #content_space #sub_photos{height:auto;width:940px;background-position:top center;background-repeat:repeat;overflow:hidden;}
#wrapper #content #content_space #sub_photos #sub_photos_section{height:234px;width:940px;}
#wrapper #content #content_space #sub_photos #sub_photos_section #sub_photos_section_image{height:234px;float:left;}

/* ---------------------------------------------- Contact --------------------------------------------------*/
#wrapper #content #content_contact{width:940px;height:670px;padding-top:20px;padding-bottom:20px;margin-left:30px;margin-right:30px;font-family:museo-slab,serif;font-weight:300;font-size:14px;line-height:30px;color:#aaa;}
#wrapper #content #content_contact #content_contact_form{width:600px;height:auto;margin-right:30px;font-family:museo-slab,serif;font-weight:300;font-size:14px;line-height:30px;color:#aaa;}
#wrapper #content #content_contact #content_contact_photo{width:300px;height:557px;padding-top:20px;padding-bottom:20px;float:right;background-image:url(../../../images/about/contact/1.png);}

/* ------------------------------------------------ Tour ------------------------------------------------  */
#wrapper #content #content_space #tours_page{width:940px;height:auto;padding-bottom:30px;padding-top:10px;overflow:hidden;}
#wrapper #content #content_space #tours_page #tours_page_section{width:450px;height:auto;float:left;}
#wrapper #content #content_space #tours_page #tours_page_section #tours_page_section_line{width:450px;height:30px;}
#wrapper #content #content_space #tours_page #tours_page_section #tours_page_section_line #tours_page_section_line_date{width:59px;height:30px;float:left;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;font-family:museo-slab,serif;font-weight:700;font-size:17px;text-align:center;line-height:30px;color:#FFF;text-shadow:0 -1px 0 #000;}
#wrapper #content #content_space #tours_page #tours_page_section #tours_page_section_line #tours_page_section_line_place{width:165px;height:30px;float:left;padding-left:20px;font-family:museo-slab,serif;font-weight:100;font-style:italic;font-size:12px;text-align:center;line-height:30px;color:#aaa;}
#wrapper #content #content_space #tours_page #tours_page_section #tours_page_section_line #tours_page_section_line_space{width:4px;height:30px;float:left;margin-right:20px;margin-left:20px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;}
#wrapper #content #content_space #tours_page #tours_page_section #tours_page_section_line #tours_page_section_line_location{width:157px;padding-right: 5px;height:30px;float:left;font-family:museo-slab,serif;font-weight:700;font-size:15px;text-align:right;line-height:30px;color:#fff;}

/* ------------------------------------------------ Videos ------------------------------------------------  */
#wrapper #content #content_space #video_player{height:auto;width:968px;background-image:url(../../../images/bg/page/black_bg.jpg);background-position:top center;background-repeat:repeat;overflow:hidden;}
#wrapper #content #content_space #video_box{height:388px;width:980px;margin-top:6px;}
#wrapper #content #content_space #video_box #video_box_btn{height:194px;width:220px;float:left;}
#wrapper #content #content_space #video_box #video_box_btn #video_box_btn_image{height:128px;width:220px;padding-top:6px;overflow:hidden;}
#wrapper #content #content_space #video_box #video_box_btn #video_box_btn_title{height:auto;width:220px;padding-top:6px;font-family:museo-slab,serif;font-size:13px;color:#fff;font-weight:bold;font-style:normal;line-height:15px;text-align:left;}
#wrapper #content #content_space #video_box #video_box_btn #video_box_btn_date{height:12px;width:220px;padding-top:6px;font-family:museo-slab,serif;font-size:10px;color:#aaa;font-weight:normal;font-style:italic;line-height:12px;text-align:left;}

/* ------------------------------------------------- Twitter ----------------------------------------------- */
#jstwitter { margin-top: 50px; color: #fff; }
#jstwitter .item { font-family: museo-slab,serif !important; padding: 8px 0px; border-bottom: 1px dotted #666; }
#jstwitter .info { color: #ccc; }


/*------------------------------------------------ Global Classes ------------------------------------------------*/
a{text-decoration:none;}
a:link,a:visited,a:hover,a:active{text-decoration:underline;}
.tweet_social .tweet_input{color:#666;background-color:#000;}
.subscribe_input{height:21px;width:289px;background-color:#000;border:none;outline:none;color:#666;padding-left:10px;padding-top:7px;padding-bottom:7px;font-family:museo-slab,serif;font-style:italic;font-weight:100;line-height:21px;font-size:11px;margin:0;}
.subscribe_submit{height:35px;width:100px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;background-color:#000;border:0;outline:none;color:#fff;cursor:pointer;font-family:museo-slab,serif;font-style:normal;font-weight:700;font-size:15px;text-shadow:0 -1px 0 #000;text-align:center;line-height:30px;margin:0;}
.menu,.menu:link,.menu:visited{color:#FFF;text-shadow:0 -1px 0 #000;font-style:normal;width:130px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;}
.menu:hover,.menu:active{color:#FFF;text-shadow:0 -1px 0 #000;font-style:italic;width:170px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;background-color:#999;}
.social,.social:link,.social:visited,.tweet_social .tweet_button{color:#FFF;text-shadow:0 -1px 0 #000;font-style:normal;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;background-color:#000;}
.social:hover,.social:active,.tweet_social:hover .tweet_button,.tweet_social:active .tweet_button{color:#FFF;text-shadow:0 -1px 0 #000;font-style:italic;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;background-color:#999;}
.tweet_social:hover .tweet_input,.tweet_social:active .tweet_input{color:#fff;background-color:#000;}
.videos_arrows,.videos_arrows:link,.videos_arrows:visited,.twitter,.twitter:link,.twitter:visited,.slider .buy{background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;}
.videos_arrows:hover,.videos_arrows:active,.twitter:hover,.twitter:active,.slider:hover .buy,.slider:active .buy{background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;background-color:#999;}
.videos_thumbs:hover .videos_image,.videos_thumbs:active .videos_image{opacity:0.6;}
.videos_thumbs:hover .videos_title,.videos_thumbs:active .videos_title,.twitter:hover .username,.twitter:active .username{text-decoration:underline;}
.slider,.slider:link,.slider:visited{background-color:#666;}
.slider:hover,.slider:active{background-color:#aaa;}
.social_facebook,.social_facebook:link,.social_facebook:visited{background-image:url(../../../images/social/facebook_up.jpg);background-position:center center;background-repeat:no-repeat;}
.social_facebook:hover,.social_facebook:active{background-image:url(../../../images/social/facebook_down.jpg);background-position:center center;background-repeat:no-repeat;}
.social_youtube,.social_youtube:link,.social_youtube:visited{background-image:url(../../../images/social/youtube_up.jpg);background-position:center center;background-repeat:no-repeat;}
.social_youtube:hover,.social_youtube:active{background-image:url(../../../images/social/youtube_down.jpg);background-position:center center;background-repeat:no-repeat;}
.social_twitter,.social_twitter:link,.social_twitter:visited{background-image:url(../../../images/social/twitter_up.jpg);background-position:center center;background-repeat:no-repeat;}
.social_twitter:hover,.social_twitter:active{background-image:url(../../../images/social/twitter_down.jpg);background-position:center center;background-repeat:no-repeat;}
.social_soundcloud,.social_soundcloud:link,.social_soundcloud:visited{background-image:url(../../../images/social/soundcloud_up.jpg);background-position:center center;background-repeat:no-repeat;}
.social_soundcloud:hover,.social_soundcloud:active{background-image:url(../../../images/social/soundcloud_down.jpg);background-position:center center;background-repeat:no-repeat;}
.social_myspace,.social_myspace:link,.social_myspace:visited{background-image:url(../../../images/social/bc_up.jpg);background-position:center center;background-repeat:no-repeat;}
.social_myspace:hover,.social_myspace:active{background-image:url(../../../images/social/bc_down.jpg);background-position:center center;background-repeat:no-repeat;}
.subscribe_input:link,.subscribe_input:visited{height:21px;width:289px;background-color:#000;color:#666;}
.subscribe_input:hover,.subscribe_input:active{height:21px;width:289px;background-color:#000;color:#fff;}
.subscribe_submit:link,.subscribe_submit:visited{height:35px;width:100px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;background-color:#000;border:0;outline:none;color:#fff;text-align:center;}
.subscribe_submit:hover,.subscribe_submit:active{height:35px;width:100px;background-image:url(../../../images/other/menu_dots.png);background-position:left -1px;background-repeat:repeat;background-color:#999;border:0;outline:none;color:#fff;text-align:center;}
/*  Form  */
.input{font-family:museo-slab,serif;color:#666;background-color:#999;font-size:12px;height:15px;overflow:hidden;resize:none;border:0;-webkit-transition-property:color, text;-webkit-transition-duration:1s, 1s;-webkit-transition-timing-function:linear, ease-in;-moz-transition-property:color, text;-moz-transition-duration:1s;-moz-transition-timing-function:linear, ease-in;-o-transition-property:color, text;-o-transition-duration:1s;-o-transition-timing-function:linear, ease-in;margin:0;padding:10px;}
.input:active{color:#000;background-color:#aaa;}
.dropdown{font-family:museo-slab,serif;color:#666;background-color:#999;border:0;font-size:12px;height:14px;overflow:hidden;resize:none;-webkit-transition-property:color, text;-webkit-transition-duration:1s, 1s;-webkit-transition-timing-function:linear, ease-in;-moz-transition-property:color, text;-moz-transition-duration:1s;-moz-transition-timing-function:linear, ease-in;-o-transition-property:color, text;-o-transition-duration:1s;-o-transition-timing-function:linear, ease-in;margin:0;padding:10px;}
.dropdown:hover{color:#666;}
.dropdown:active{color:#000;}
.para{font-family:museo-slab,serif;color:#666;background-color:#999;font-size:12px;height:69px;overflow:hidden;resize:none;-webkit-transition-property:color, text;-webkit-transition-duration:1s, 1s;-webkit-transition-timing-function:linear, ease-in;-moz-transition-property:color, text;-moz-transition-duration:1s;-moz-transition-timing-function:linear, ease-in;-o-transition-property:color, text;-o-transition-duration:1s;-o-transition-timing-function:linear, ease-in;margin:0;padding:10px;}
.submit{font-family:Helvetica, Arial, sans-serif;color:#fff;background-color:#999;font-size:14px;font-weight:bold;height:20px;line-height:20px;overflow:hidden;resize:none;-webkit-transition-property:color, text;-webkit-transition-duration:1s, 1s;-webkit-transition-timing-function:linear, ease-in;-moz-transition-property:color, text;-moz-transition-duration:1s;-moz-transition-timing-function:linear, ease-in;-o-transition-property:color, text;-o-transition-duration:1s;-o-transition-timing-function:linear, ease-in;cursor:pointer;border:0;border-radius:10px 0 10px 0;margin:10px 0 0;padding:10px;}
.submit:hover{color:#fff;background-color:#666;}
.submit:active{color:#fff;}
.input:hover,.para:hover,.para:active{color:#000;background-color:#666;}

.uiBoxDarkgray{display:none !important;}



/*------------------------------------------------ Supersized ------------------------------------------------*/
img{border:none;color:#F61D20;}
#supersized-loader{position:absolute;top:50%;left:50%;z-index:0;width:60px;height:60px;text-indent:-999em;margin:-30px 0 0 -30px;}
#supersized{display:block;position:fixed;left:0;top:0;overflow:hidden;z-index:-999;height:100%;width:100%;}
#supersized img{width:auto;height:auto;position:relative;display:none;outline:none;border:none;}
#supersized.speed img{-ms-interpolation-mode:nearest-neighbor;image-rendering:0;}
#supersized.quality img{-ms-interpolation-mode:bicubic;image-rendering:optimizeQuality;}
#supersized li{display:block;list-style:none;z-index:-30;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;background:#111;}
#supersized a{width:100%;height:100%;display:block;}
#supersized li.prevslide{z-index:-20;}
#supersized li.activeslide{z-index:-10;}
#supersized li.image-loading{background:#111;width:100%;height:100%;}
#supersized li.image-loading img{visibility:hidden;}
#supersized li.prevslide img,#supersized li.activeslide img{display:inline;}
#controls-wrapper{height:42px;width:400px;bottom:40px;right:0;z-index:4;position:fixed;margin:0 auto;}
#controls{overflow:hidden;height:100%;position:relative;text-align:right;z-index:5;}
ul#slide-list{float:left;position:absolute;right:6px;padding:-4px 0;}
ul#slide-list li{list-style:none;width:19px;height:19px;float:right;margin:0 5px 0 0;}
ul#slide-list li.current-slide a,ul#slide-list li.current-slide a:hover{background-position:0 0;}
ul#slide-list li a{display:block;width:19px;height:19px;background:url(../../../images/other/nav_bg.png) no-repeat 0 -19px;}
ul#slide-list li a:hover{background-position:0 -38px;cursor:pointer;}





/*------------------------------------------------ Nivo Slider ------------------------------------------------*/

.slider-wrapper{margin:0 30px;}
.nivoSlider {position:relative;}
.nivoSlider img {position:absolute;top:0px;left:0px;display:none;}
.nivoSlider a {border:0;display:none;}
.nivo-prevNav, .nivo-nextNav{width:40px;height:201px;background:red;z-index:9;opacity:0.5;background:url('/images/other/menu_dots.png');font-size:46px;font-family:'museo-slab',serif;color:#fff;text-align:center;line-height:200px;text-shadow:0 -1px 0 #000;}
.nivo-prevNav:hover, .nivo-nextNav:hover{cursor:pointer;opacity:0.8;}
.nivo-prevNav{position:absolute;top:50%;left:0;margin:-100px 0 0 0;}
.nivo-nextNav{position:absolute;top:50%;right:0;margin:-100px 0 0 0;}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}

/* The slices and boxes in the Slider */
.nivo-slice {display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box {display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {position:absolute;left:0px;bottom:0px;background:#000;color:#fff;width:100%;z-index:8;padding: 5px 10px;opacity: 0.8;overflow: hidden;display: none;-moz-opacity: 0.8;filter:alpha(opacity=8);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.nivo-caption p {padding:5px;margin:0;}
.nivo-caption a {display:inline !important;}
.nivo-html-caption {display:none;}









/*------------------------------------------------ Blog ------------------------------------------------*/
div#rssincl-box-467899{width:450px;overflow-x:auto;padding-left:10px;padding-bottom:10px;}
div#rssincl-box-467899 *{font-family:museo-slab,serif;text-align:left;line-height:110%;clear:both;color:#fff;font-size:14px;margin:0;padding:0;}
div#rssincl-box-467899 div.rssincl-head{background-repeat:repeat-x;background-color:#ccc;}
div#rssincl-box-467899 div.rssincl-head p.rssincl-title,div#rssincl-box-467899 div.rssincl-head p.rssincl-title a{font-size:18px;font-weight:bold;color:#ccc;text-decoration:none;float:left;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry{padding-bottom:10px;background-repeat:repeat;background-position:center center;margin-bottom:6px;color:#fff;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle{font-family:museo-slab,serif;font-size:14px;line-height:14px;color:#fff;text-align:left;padding: 0 0 3px 0;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a{font-family:museo-slab,serif !important;font-size:14px;font-weight:bold;color:#fff;text-decoration:none !important;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a:hover{color:#ccc;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc,div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc *{width:450px;float:left;font-size:12px;color:#bbb;font-family:museo-slab,serif;text-align:left;line-height:1.4em;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemdate,div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemdate *{font-size:12px;color:#fff;font-family:athelas,serif;text-align:center;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemdate{margin-bottom:10px;font-family:athelas,serif;color:#fff;font-style:italic;font-weight:bold;text-align:left;width:450px;margin-left:auto;margin-right:auto;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-itemimage{font-family:athelas,serif;color:#fff;text-align:center;float:left;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc img{border:10px solid #900;font-family:athelas,serif;color:#fff;text-align:left;float:left;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-clear{clear:both;}





div#rssincl-box-488504 {width: 450px;overflow-x: auto;padding-left: 10px;padding-bottom: 10px;}
div#rssincl-box-488504 *{ font-family: "museo-slab",serif;text-align:left;margin:0; padding:0px;line-height:110%;clear:both;color: #ffffff;font-size: 14px;}
div#rssincl-box-488504 div.rssincl-head {background-repeat:repeat-x;background-color: #cccccc;}
div#rssincl-box-488504 div.rssincl-head p.rssincl-title,
div#rssincl-box-488504 div.rssincl-head p.rssincl-title a {font-size: 18px;font-weight:bold;color: #cccccc;text-decoration:none;float: left;}
div#rssincl-box-488504 div.rssincl-content {}
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry {padding-bottom:10px;background-repeat:repeat;background-color: ; background-image:;background-position: center center;margin-bottom: 6px;color: #ffffff;}
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle {font-family: "museo-slab",serif;font-size: 14px;line-height: 14px;color: #ffffff;text-align: left;}
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a {font-size: 14px;font-weight:bold;color: #ffffff;}

div#rssincl-box-488504 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a:hover{color:#cccccc;}
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc,
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc *{width:450px;float: left;font-size: 12px;color: #cccccc;font-family: "museo-slab",serif;text-align: left;line-height:1.4em;margin:10px 0 0 0;}
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry p.rssincl-itemdate,
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry p.rssincl-itemdate *{font-size: 12px;color: #ffffff;font-family: "museo-slab",serif;text-align: center;}
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry p.rssincl-itemdate {font-family: "museo-slab",serif;color: #ffffff;font-style:italic;font-weight: bold;text-align: left;width: 450px;margin:10px 0;padding-top:5px;}
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry div.rssincl-itemimage {font-family:"athelas",serif;color: #ffffff;text-align: center;float: left;}

div#rssincl-box-488504 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc img {border:10px solid #900;font-family:"athelas",serif;color: #ffffff;text-align: left;float: left;}
div#rssincl-box-488504 div.rssincl-content div.rssincl-entry div.rssincl-clear {clear:both;}

/*------------------------------------------------ Blog Theme ------------------------------------------------*/
div#rssincl-box-467899 *{font-family:Verdana, Geneva, sans-serif;text-align:left;line-height:110%;clear:both;margin:0;padding:0;}
div#rssincl-box-467899 div.rssincl-head{background-color:#;padding:4px;}
div#rssincl-box-467899 div.rssincl-head p.rssincl-title,div#rssincl-box-467899 div.rssincl-head p.rssincl-title a{text-decoration:none;font-family:museo-slab,serif;font-size:15px;font-weight:bold;color:#fff;}
div#rssincl-box-467899 div.rssincl-content table{border-collapse:collapse;}
div#rssincl-box-467899 div.rssincl-content table tr td{width:0;vertical-align:top;background-color:#ccc;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry{padding:4px;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry img{border:0 solid #fff;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle{margin-bottom:0;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a{font-family:Arial, Helvetica, sans-serif;font-size:px;font-weight:bold;text-decoration:underline;color:#;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc,div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc *{font-family:Arial, Helvetica, sans-serif;font-size:px;color:#;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-last{background-color:#;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-backlink{font-size:10px;color:#;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-backlink a{color:#;line-height:130%;text-decoration:none;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc img{margin:5px;}
div#rssincl-box-467899 div.rssincl-content div.rssincl-entry div.rssincl-clear{clear:both;}
strong{font-weight:bold;}


/*------------------------------------------------ Fancybox ------------------------------------------------*/
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none;}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url(../../../images/fancybox/fancybox.png);}
#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none;}
#fancybox-tmp{border:0;overflow:auto;display:none;margin:0;padding:0;}
#fancybox-wrap{position:absolute;top:0;left:0;z-index:1101;outline:none;display:none;padding:20px;}
#fancybox-outer{position:relative;width:100%;height:100%;background:#000;}
#fancybox-content{width:0;height:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0 solid #666;padding:0;}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101;}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url(../../../images/fancybox/fancybox.png) -40px 0;cursor:pointer;z-index:1103;display:none;}
#fancybox-error{color:#444;font:normal 12px/20px Arial;margin:0;padding:14px;}
#fancybox-img{width:100%;height:100%;border:none;outline:none;line-height:0;vertical-align:top;margin:0;padding:0;}
#fancybox-frame{width:100%;height:100%;border:none;display:block;}
#fancybox-left,#fancybox-right{position:absolute;top:0;height:525px;width:25%;cursor:pointer;outline:none;background:transparent url(../../../images/fancybox/blank.gif);z-index:1102;display:none;}
#fancybox-left{left:0;}
#fancybox-right{right:0;}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block;}
#fancybox-left-ico{background-image:url(../../../images/fancybox/fancybox.png);background-position:-40px -30px;}
#fancybox-right-ico{background-image:url(../../../images/fancybox/fancybox.png);background-position:-40px -60px;}
#fancybox-left:hover,#fancybox-right:hover{visibility:visible;}
#fancybox-left:hover span{left:20px;}
#fancybox-right:hover span{left:auto;right:20px;}
.fancybox-bg{position:absolute;border:0;width:20px;height:20px;z-index:1001;margin:0;padding:0;}
#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url(../../../images/fancybox/fancybox-x.png);}
#fancybox-bg-ne{top:-20px;right:-20px;background-image:url(../../../images/fancybox/fancybox.png);background-position:-40px -162px;}
#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url(../../../images/fancybox/fancybox-y.png);background-position:-20px 0;}
#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url(../../../images/fancybox/fancybox.png);background-position:-40px -182px;}
#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url(../../../images/fancybox/fancybox-x.png);background-position:0 -20px;}
#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url(../../../images/fancybox/fancybox.png);background-position:-40px -142px;}
#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url(../../../images/fancybox/fancybox-y.png);}
#fancybox-bg-nw{top:-20px;left:-20px;background-image:url(../../../images/fancybox/fancybox.png);background-position:-40px -122px;}
#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102;}
.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative;}
.fancybox-title-outside{padding-top:10px;color:#fff;}
.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left;}
#fancybox-title-over{background-image:url(../../../images/fancybox/fancy_title_over.png);display:block;padding:10px;}
.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px;}
#fancybox-title-float-wrap{border:none;border-collapse:collapse;width:auto;}
#fancybox-title-float-wrap td{border:none;white-space:nowrap;}
#fancybox-title-float-left{background:url(../../../images/fancybox/fancybox.png) -40px -90px no-repeat;padding:0 0 0 15px;}
#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:bold;background:url(../../../images/fancybox/fancybox-x.png) 0 -40px;padding:0 0 3px;}
#fancybox-title-float-right{background:url(../../../images/fancybox/fancybox.png) -55px -90px no-repeat;padding:0 0 0 15px;}
.fancybox-ie6 #fancybox-close{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png',sizingMethod='scale');}
.fancybox-ie6 #fancybox-left-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png',sizingMethod='scale');}
.fancybox-ie6 #fancybox-right-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png',sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-over{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png',sizingMethod='scale');zoom:1;}
.fancybox-ie6 #fancybox-title-float-left{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png',sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-main{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png',sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-right{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png',sizingMethod='scale');}
.fancybox-ie6 #fancybox-bg-w,.fancybox-ie6 #fancybox-bg-e,.fancybox-ie6 #fancybox-left,.fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame{height:expression(this.parentNode.clientHeight+"px");}
#fancybox-loading.fancybox-ie6{position:absolute;margin-top:0;top:expression((-20+(document.documentElement.clientHeight?document.documentElement.clientHeight/2:document.body.clientHeight/2) 0 (ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop)) 0 px);}
#fancybox-loading.fancybox-ie6 div{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png',sizingMethod='scale');}
.fancybox-ie .fancybox-bg{background:transparent!important;}
.fancybox-ie #fancybox-bg-n{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png',sizingMethod='scale');}
.fancybox-ie #fancybox-bg-ne{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png',sizingMethod='scale');}
.fancybox-ie #fancybox-bg-e{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png',sizingMethod='scale');}
.fancybox-ie #fancybox-bg-se{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png',sizingMethod='scale');}
.fancybox-ie #fancybox-bg-s{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png',sizingMethod='scale');}
.fancybox-ie #fancybox-bg-sw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png',sizingMethod='scale');}
.fancybox-ie #fancybox-bg-w{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png',sizingMethod='scale');}
.fancybox-ie #fancybox-bg-nw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png',sizingMethod='scale');}



/*------------------------------------------------ Stratus ------------------------------------------------*/
.sc-stratus{background-color:#efefef;color:#6a6a6a;font:normal normal 12px 'Lucida Grande', Helvetica, Arial, sans-serif;border-color:#d5d5d5;border-style:solid;}
.sc-stratus a{color:#ed1c24;}
.sc-stratus .sc-circle,.sc-stratus .sc-time,.sc-stratus .sc-played,.sc-stratus .sc-buffer{background-image:url(../../../images/bg/stratus/sc-gradient.png);background-repeat:repeat-x;}
.sc-stratus .sc-time .sc-buffer{background-color:#afafaf;}
.sc-volume-bar{background-color:#efefef;border-color:#d5d5d5;border-style:solid;}
.sc-stratus .sc-border,.sc-stratus .sc-time{background-color:#d5d5d5;}
.sc-stratus .sc-logo,.sc-stratus .sc-volume,.sc-stratus .sc-info,.sc-stratus .sc-download,.sc-stratus .sc-buy,.sc-stratus .sc-prev,.sc-stratus .sc-next,.sc-stratus .sc-play,.sc-stratus .sc-pause,.sc-volume-bar,.sc-volume-bar .ui-slider-handle{background-image:url(../../../images/bg/stratus/sc-sprites.png);}
.sc-stratus .sc-circle,.sc-stratus .sc-time .sc-played{background-color:#ed1c24;}
.sc-stratus{display:none;height:30px;left:0;top:0;position:fixed;text-align:left;width:100%;z-index:999;}
.sc-stratus *{margin:0;padding:0;}
.sc-stratus :focus{outline:none;}
.sc-stratus.stratus-bottom{top:0;border-width:1px 0 0;}
.sc-stratus.stratus-top{top:0;border-width:0 0 1px;}
.sc-stratus a,.sc-stratus a:hover,.sc-stratus a:focus{background-color:transparent;font-weight:normal;outline:none;text-decoration:none;}
.sc-stratus > div,.sc-stratus > a{height:30px;position:absolute;}
.sc-stratus .sc-border{width:1px;}
.sc-stratus .sc-volume + .sc-border{right:75px;}
.sc-stratus .sc-info + .sc-border{right:105px;}
.sc-stratus .sc-download + .sc-border{right:135px;}
.sc-stratus .sc-buy + .sc-border{right:165px;}
.sc-stratus .sc-logo,.sc-stratus .sc-volume,.sc-stratus .sc-info,.sc-stratus .sc-download,.sc-stratus .sc-buy,.sc-stratus .sc-prev,.sc-stratus .sc-next{opacity:0.9;}
.sc-stratus .sc-logo:hover,.sc-stratus .sc-volume:hover,.sc-stratus .sc-info:hover,.sc-stratus .sc-download:hover,.sc-stratus .sc-buy:hover,.sc-stratus .sc-prev:hover,.sc-stratus .sc-next:hover{opacity:1.0;}
.sc-stratus .sc-logo.disabled,.sc-stratus .sc-logo.disabled:hover,.sc-stratus .sc-volume.disabled,.sc-stratus .sc-volume.disabled:hover,.sc-stratus .sc-info.disabled,.sc-stratus .sc-info.disabled:hover,.sc-stratus .sc-download.disabled,.sc-stratus .sc-download.disabled:hover,.sc-stratus .sc-buy.disabled,.sc-stratus .sc-buy.disabled:hover,.sc-stratus .sc-prev.disabled,.sc-stratus .sc-prev.disabled:hover,.sc-stratus .sc-next.disabled,.sc-stratus .sc-next.disabled:hover{opacity:0.2;}
.sc-stratus .sc-logo,.sc-stratus .sc-volume,.sc-stratus .sc-info,.sc-stratus .sc-download,.sc-stratus .sc-buy{cursor:pointer;display:block;width:30px;}
.sc-stratus .sc-logo.disabled,.sc-stratus .sc-logo.disabled:hover,.sc-stratus .sc-volume.disabled,.sc-stratus .sc-volume.disabled:hover,.sc-stratus .sc-info.disabled,.sc-stratus .sc-info.disabled:hover,.sc-stratus .sc-download.disabled,.sc-stratus .sc-download.disabled:hover,.sc-stratus .sc-buy.disabled,.sc-stratus .sc-buy.disabled:hover{cursor:default;}
.sc-stratus .sc-logo{right:0;width:45px;}
.sc-stratus .sc-volume,.sc-stratus .sc-volume.max{background-position:-200px 0;}
.sc-stratus .sc-volume.high{background-position:-200px -30px;}
.sc-stratus .sc-volume.low{background-position:-200px -60px;}
.sc-stratus .sc-volume.min{background-position:-200px -90px;}
.sc-stratus .sc-info{background-position:0 -30px;right:75px;}
.sc-stratus .sc-download{background-position:0 -60px;right:105px;}
.sc-stratus .sc-buy{background-position:0 -90px;right:135px;}
.sc-stratus .sc-controls{top:5px;width:60px;}
.sc-stratus .sc-controls div{cursor:pointer;position:absolute;width:20px;}
.sc-stratus .sc-controls .sc-prev{background-position:-100px 0;}
.sc-stratus .sc-controls .sc-circle{border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;left:20px;width:20px;}
.sc-stratus .sc-controls .sc-circle .sc-play{background-position:-100px -40px;}
.sc-stratus .sc-controls .sc-circle .sc-pause{background-position:-100px -60px;display:none;}
.sc-stratus .sc-controls .sc-next{background-position:-100px -20px;left:40px;}
.sc-stratus.playing .sc-controls .sc-pause{display:block;}
.sc-stratus .sc-time{left:60px;overflow:hidden;top:5px;}
.sc-stratus .sc-time,.sc-stratus .sc-time img{width:180px;}
.sc-stratus .sc-time > div{position:absolute;}
.sc-stratus .sc-time img{height:44px;}
.sc-stratus .sc-time .sc-wave{height:40px;width:100%;z-index:10;}
.sc-stratus .sc-time .sc-played{z-index:8;}
.sc-stratus .sc-time .sc-buffer{z-index:7;}
.sc-stratus .sc-time-indicator,.sc-stratus .sc-caption{cursor:default;line-height:30px;}
.sc-stratus .sc-time-indicator{right:175px;text-align:right;width:90px;}
.sc-stratus .sc-caption{left:250px;}
.sc-volume-bar{background-position:0 -150px;display:none;right:45px;position:fixed;width:29px;z-index:1000;}
.sc-volume-bar.stratus-bottom{bottom:30px;border-top-left-radius:10px;-moz-border-radius-topleft:10px;-webkit-border-top-left-radius:10px;height:123px;border-width:1px 1px 0;}
.sc-volume-bar.stratus-top{border-bottom-left-radius:10px;-moz-border-radius-bottomleft:10px;-webkit-border-bottom-left-radius:10px;height:130px;top:30px;border-width:0 1px 1px;}
.sc-volume-bar .sc-slider{height:77px;position:relative;width:8px;margin:37px 0 0 11px;}
.sc-volume-bar .sc-slider .ui-slider-handle{background-color:transparent;background-position:-200px -120px;cursor:pointer;height:15px;position:absolute;width:8px;z-index:2;}
.sc-volume-bar .sc-slider .ui-slider-handle:focus{cursor:pointer;outline:none;}
.sc-player-engine-container{width:1px;height:1px;position:fixed;top:2px;left:2px;}
.sc-stratus .sc-logo + .sc-border,.sc-stratus .sc-volume{right:45px;}
.sc-stratus .sc-controls,.sc-stratus .sc-controls div,.sc-stratus .sc-time,.sc-stratus .sc-time > div{height:20px;}
.sc-stratus.playing .sc-controls .sc-play,.sc-trackslist{display:none;}



/*------------------------------------------------ Coda Slider Video Page ------------------------------------------------*/
noscript div{margin:0;padding:0;}
.coda-slider-wrapper{clear:both;overflow:auto;padding:0;}
.coda-slider-no-js .coda-slider{height:200px;overflow:auto!important;padding-right:0;}
.coda-nav ul li a.current{background:#39c;}
.coda-slider .panel-wrapper{padding:0;}
.coda-slider p.loading{text-align:center;padding:0;}
.coda-nav ul{clear:both;display:block;overflow:hidden;margin:auto;}
.coda-nav ul li{display:inline;}
.coda-nav ul li a{background:#000;color:#fff;display:block;float:left;margin-right:1px;text-decoration:none;padding:3px 6px;}
.coda-slider{float:left;overflow:hidden;position:relative;}
.coda-slider .panel{display:block;float:left;}
.coda-slider .panel-container{position:relative;}
.coda-nav-left,.coda-nav-right{float:left;}
.coda-nav-left a,.coda-nav-right a{display:block;text-align:center;text-decoration:none;}
.youtube a:hover{color:#a51013;text-decoration:underline;}
.coda-slider,.coda-slider .panel,.coda-slider-wrapper.arrows .coda-slider,.coda-slider-wrapper.arrows .coda-slider .panel{width:940px;height:523px;}
.youtube,.youtube a:link,.youtube a:visited,.youtube a:active{color:#a51013;text-decoration:none;}